:root {
  /* Text-color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --light-text-color: #ffffff;
  --primary-light-color: rgba(255, 255, 255, 0.6);
  /* background-color */
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-gray: #f5f4fa;
  /* logo-color */
  --logo-color-gray: #afb1b8;
}
body {
  font-family: 'Roboto', sans-serif;

  background-color: var(--light-text-color);
  color: var(--primary-text-color);
}
/* Палітра кольорів
Текст заголовки #212121; 
Текст основний  #757575;
Фон футера      #2F303A
білий текст  #FFFFFF

*/
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.nav-list {
  display: flex;
}
.header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
}
.header-list {
  margin-left: auto;
  display: flex;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-right: 93px;
}
.current {
  color: var(--accent-color);
}
.nav-item {
  position: relative;
}
.nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.logo-color {
  color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.header-link {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-evenlope {
  fill: currentColor;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-item {
  list-style: none;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-backgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border: transparent;
}
.text-btn {
  padding: 10px 32px;
}
.feature-item {
  width: 270px;
}
.feature-list {
  list-style: none;
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.feature-icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-gray);
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.box-section {
  padding-top: 0;
}
.box-list {
  display: flex;
}
.box-thumb {
  position: relative;
}
.box-text-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.box-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}
.box-item:not(:last-child) {
  margin-right: 30px;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.team {
  background-color: var(--background-gray);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  background: var(--light-text-color);
  width: 270px;
  height: 428px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-img {
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-info {
  padding-bottom: 30px;
  padding-top: 30px;
}
.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--light-text-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icons,
.social-link:focus .social-icons {
  fill: var(--light-text-color);
}

.social-icons {
  fill: var(--logo-color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Постійні клієнти */

.clietns-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.cliets-item {
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--logo-color-gray);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-logo {
  fill: var(--logo-color-gray);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cliets-item:hover,
.client-item:focus .clients-list {
  border-color: var(--accent-color);
}

/* Футер  */

.footer-containers {
  display: flex;

  align-items: baseline;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  padding: 0;
}
.footer-logo {
  display: inline-block;
  text-decoration: none;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--light-text-color);
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}
.footer-address {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 70px;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  display: flex;
}
.footer-social {
  align-items: center;
  justify-content: center;

  margin-right: 93px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons {
  fill: var(--light-text-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 20px;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-title {
  color: var(--light-text-color);
}
.footer-form {
  display: flex;
}
.footer-form:not(:last-child) {
  margin-left: 12px;
}
.footer-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;

  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid var(--logo-color-gray);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--light-text-color);
  background-color: var(--background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus {
  border-color: var(--accent-color);

  outline: none;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--light-text-color);
}
.footer-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.send-icon {
  fill: var(--light-text-color);
}
/* Портфоліо */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 10px;
}
.filter-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-gray);
  border-radius: 4px;
  border: 0;
  min-width: 73px;
  max-height: 38px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(101%);
  transition: transform 250ms;
}
.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}
.project-img {
  display: block;
}
.project-border {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-name {
  margin-bottom: 4px;
}

/* modal   */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  scale: 1.1;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--light-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form-modal {
  padding: 40px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form-group {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
}
.modal-input {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-icon {
  position: absolute;
  fill: var(--title-text-color);
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  margin-bottom: 20px;
}
.modal-textarea {
  display: block;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox-input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--light-text-color);
  border-radius: 50%;

  cursor: pointer;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-color);
}
.checkbox-link {
  color: var(--accent-color);
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
